form{
	margin-top: 10%;
	text-align: center;
	/*border: 1px solid black;
	border-spacing: 1px;
	background-color: papayawhip;*/
}
input{
	border-radius: 5px;
}
form a .lien:hover{
	color: green;
	background-color: blue;
	opacity: .10;
}
 section form a {
 	color: black;
 	text-decoration: none;
 	border-radius: 5px;
	margin-right: 5px;
	background-color: rgb(75, 152, 187);
	/*
	background: linear-gradient(blue,pink);
	padding: 10px 15px;
	color: black;
	
	border: none;*/
}
h1{
	text-align: center;
	margin-left: 25%;
	color: white;
}
.cc-nav{
	background-color: rgba(1, 1, 1, 1.0);
	font-family: '', serif;
	box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.54);
	z-index: 99;
}
.nav-lik{
	display: inline;
	color: white;
	text-decoration: none;
}