body{
	background:linear-gradient( rgba(1, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../img/6.jpg") center center fixed no-repeat;
	background-size: cover;
}

h1{
	background: linear-gradient();
	text-align: center;
	margin-left: 25%;	
	color: white;
}
.cc-nav{
	background-color: rgba(1, 1, 1, 1.0);
	font-family: '', serif;
	box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.54);
	z-index: 99;
}
.nav-lik{
	display: inline;
	color: white;
	text-decoration: none;
}